<AppHeader @title="Edit Course" @showBack={{true}} />

<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-body">

      <div class="mb-3">
        <label class="form-label">Course Name</label>
        {{input class="form-control" value=this.course.name disabled=this.isReadOnly}}
      </div>

      <div class="mb-3">
        <label class="form-label">Description</label>
        {{textarea class="form-control" rows="3" value=this.course.description disabled=this.isReadOnly}}
      </div>

      <h5 class="mt-4">Contents</h5>
      <table class="table table-bordered">
        <thead class="table-light">
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>URL</th>
            {{#if this.isAdmin}}<th></th>{{/if}}
          </tr>
        </thead>
        <tbody>
          {{#each this.contentsList as |c index|}}
            <tr>
              <td>{{input class="form-control" value=c.title}}</td>
              <td>{{input class="form-control" value=c.description}}</td>
              <td>{{input class="form-control" value=c.videoUrl}}</td>
              {{#if this.isAdmin}}
                <td class="d-flex justify-content-center align-items-center">
                  {{#if c.isNew}}
                    <button class="btn btn-success btn-sm" {{action "confirmAddContent" index}}>Add</button>
                  {{else}}
                    <button class="btn btn-danger btn-sm" {{action "removeContent" index}}>Remove</button>
                  {{/if}}
                </td>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
      </table>

      <h5 class="mt-4">Members</h5>

<table class="table table-bordered align-middle">
  <thead class="table-light">
    <tr>
      <th>Name</th>
      <th>Register No</th>
      {{#if this.isAdmin}}<th style="width:120px"></th>{{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each this.course.members as |m|}}
      <tr>
        <td>{{m.name}}</td>
        <td>{{m.registerNumber}}</td>
        {{#if this.isAdmin}}
          <td>
            <button
              class="btn btn-danger btn-sm w-100"
              {{action "removeMember" m}}
            >
              Remove
            </button>
          </td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if this.isAdmin}}
  <input
    class="form-control mb-2"
    placeholder="Search students"
    value={{this.memberSearch}}
  />

  <ul class="list-group mb-4">
    {{#each this.filteredStudents as |u|}}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>{{u.name}} ({{u.registerNumber}})</span>
        <button
          class="btn btn-success btn-sm"
          {{action "addMember" u}}
        >
          Add
        </button>
      </li>
    {{/each}}
  </ul>
{{/if}}

<h5 class="mt-4">Admins</h5>

<table class="table table-bordered align-middle">
  <thead class="table-light">
    <tr>
      <th>Name</th>
      <th>Register No</th>
      {{#if this.isAdmin}}<th style="width:120px"></th>{{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each this.course.admins as |a|}}
      <tr>
        <td>{{a.name}}</td>
        <td>{{a.registerNumber}}</td>
        {{#if this.isAdmin}}
          <td>
            <button
              class="btn btn-danger btn-sm w-100"
              {{action "removeAdmin" a}}
            >
              Remove
            </button>
          </td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if this.isAdmin}}
  <input
    class="form-control mb-2"
    placeholder="Search admins"
    value={{this.adminSearch}}
  />

  <ul class="list-group mb-4">
    {{#each this.filteredAdmins as |u|}}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>{{u.name}} ({{u.registerNumber}})</span>
        <button
          class="btn btn-success btn-sm"
          {{action "addAdmin" u}}
        >
          Add
        </button>
      </li>
    {{/each}}
  </ul>
{{/if}}

      <button class="btn btn-primary" {{action "confirmSave"}}>Save Changes</button>

      {{#if this.showConfirm}}
        <div class="alert alert-warning mt-3">
          <button class="btn btn-success me-2" {{action "saveCourse"}}>Yes</button>
          <button class="btn btn-secondary" {{action "cancelSave"}}>Cancel</button>
        </div>
      {{/if}}

    </div>
  </div>
</div>
